<section class="settings-layout">
  <aside class="settings-menu">
    <div class="settings-menu-list">
      <a
        *ngFor="let section of sections"
        [routerLink]="section.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ section.label }}
      </a>
    </div>
  </aside>

  <article class="settings-content">
    <section class="settings-detail">
      <header>
        <h3>{{ selectedSection.title }}</h3>
        <p>{{ selectedSection.description }}</p>
      </header>

      <router-outlet></router-outlet>
    </section>
  </article>
</section>
